.header {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    height: 80px;
}

.header-logo-container {
    transform: translateY(25%);
    display: flex;
    align-items: center;
}

.header-logo-img {
    height: 100px;
    width: auto;
}

.header-navigation-links-container {
    display: flex;
    align-items: center;
}

.header-navigation-links {
    display: flex;
    align-items: center;
    background: #528AF8;
    border-radius: 24px;
    padding: 0.5rem;
    height: 24px;
}

.header-navigation-link {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}