.custom-scrollbar {
    position: fixed;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
    width: 20px;
    background: #3B1573;
    border-radius: 10px;
}

.scroll-track {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    border-radius: 2px;
}

.custom-scrollbar .dot {
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: background 0.3s;
}

.custom-scrollbar .dot:hover {
    background: #E846A0;
}